.ProductComp {
  background-color: rgb(218, 218, 218);
  /* border: 1px solid black; */
  margin: 18px;
  width: 100%;
  /* height: 90vh; */
  box-shadow: 0 0px 18px 3px rgba(0, 0, 0, 0.345);
}
.product-div {
  background-color: rgb(245, 245, 245);
  /* border: 1px solid black; */
  margin: 18px;
  /* height: 90vh; */
  box-shadow: 0 0px 18px 3px rgba(0, 0, 0, 0.345);
}
.head {
  font-size: 20px;
  padding: 8px 8px;
  margin-left: 24px;

  /* border-left: 1px solid grey; */
}
.productss-div {
  margin: 12px 48px;
  /* margin-left: 48px; */
  /* marginto */
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 24px;
  min-height: 100vh;
}
.productt {
  display: flex;
  /* margin: auto; */
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .prod-prod {
    grid-template-columns: auto;
  }
}
