.LoginComp {
  border: 1px solid rgb(103, 103, 103);
  margin: auto;
  margin-top: 15vh;
  width: 350px;
  height: 450px;
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 0px 18px 3px rgba(0, 0, 0, 0.345);
}
.LoginComp h2,
h5 {
  text-align: center;
  margin: 16px;
}
.formm {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
